@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Book Antiqua";
  src: url("/fonts/Book-Antiqua.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Book Antiqua";
  src: url("/fonts/Book-Antiqua-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular";
  src: url("/fonts/EuclidCircularA-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular";
  src: url("/fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular";
  src: url("/fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular";
  src: url("/fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular";
  src: url("/fonts/EuclidCircularA-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.tile {
  box-shadow: -1px 10px 19px -7px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -1px 10px 19px -7px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -1px 10px 19px -7px rgba(0, 0, 0, 0.74);
}

html,
body {
  font-family: "Euclid Circular", sans-serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.menuclosebutton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 40px;
  width: 80%;
  right: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
}

.menuToggle {
  visibility: hidden;
}

.settingViewToggle {
  visibility: hidden;
}

.settingswrap {
  text-align: right;
  position: relative;
  width: 80%;
  left: 10%;
  height: 250px;
}

.mylabel {
  float: left;
}

.menu-row {
  height: 35px;
}

.mySelect {
  height: 32px;

  text-align: center;
}

.checkmark {
  height: 25px;
  position: absolute;
  padding: 100px;
}

input[type="checkbox"] {
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 3px solid currentColor;
}

#popmenu {
  width: 350px;
  height: 350px;
  text-align: center;
  background: #e3c586;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15.5%;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 15px 0 black;
  z-index: 1;
  border-radius: 10px;
}

#inline-options {
  margin-top: 10px;
  width: 100%;
  position: relative;
}
