@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Book Antiqua";
  src: url("/fonts/Book-Antiqua.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Book Antiqua";
  src: url("/fonts/Book-Antiqua-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.map-select-menu-row {
  height: 60px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.map-select-menu-row-center {
  height: 60px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.map-select-menu-row-small {
  height: 30px;
  width: 100%;
}

.available-map-button:active:before {
  /* color when selecting */
  background-color: #026799;

  background-image: none;
  box-shadow: 0px 1px 2px 0 #444 inset, 0 0 0 6px #fff, 0 2px 12px 8px #ddd;
}
​ .map-button:hover:before {
  background-image: linear-gradient(to bottom, #4fbeeb 0%, #0082c6 40%);
}

.available-map-button:hover:before {
  color: #fff;
  background-image: linear-gradient(to bottom, #4fbeeb 0%, #066fa7 40%);

  background-image: linear-gradient(to bottom, #4fbeeb 0%, #0082c6 40%);
}

.available-map-button {
  text-align: center;
  width: 35%;
  height: 45px;
  transform: translate(0%, 0%);
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #444;
  line-height: 45px;
  text-align: center;
}

.available-map-button:before {
  content: "";
  display: inline;
  /* background-color: #0ca6f2; */
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #4ac9fa 0%, #0b95d9 40%);
  box-shadow: 0px -1px 2px 0 #044977 inset, 0px 1px 1px 1px #ccc, 0 0 0 6px #fff,
    0 2px 12px 8px #ddd;
}

.selected-map-button {
  text-align: center;
  width: 35%;
  height: 45px;
  transform: translate(0%, 0%);
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #444;
  line-height: 45px;
  text-align: center;
}

.selected-map-button:before {
  content: "";
  display: inline;
  /* background-color: #0ca6f2; */
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #4ac9fa 0%, #0b95d9 40%);
  box-shadow: 0px -1px 2px 0 #044977 inset, 0px 1px 1px 1px #ccc, 0 0 0 6px #fff,
    0 2px 12px 8px #ddd;
}

#map-select {
  /* background:rgb(228, 143, 143); */
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  /* padding: 5px 10px 5px 10px; */
}

.selected-map-button:before {
  background: #255369;
}

.mapTypeTitle {
  display: inline-block;
  /* background:#0ca6f2; */
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: #fffaed;
}

.newTitle {
  text-align: center;
  top: 0;
}

.myNav {
  width: 100%;
}

.myNav ul {
  list-style: none;
  display: inline;
  text-align: center;
  margin: 0;
  padding: 0;
}

.myLi {
  display: inline;
  margin: 0 2px;
}

.normalBorderCommon {
  /* background: rgb(0, 153, 211); */
  position: absolute;
  left: 50%;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  /*rotate(30deg); */
  overflow-x: hidden;
  background: url(/images/normalBackground.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .ExpandedBorderCommon {} */

.commonShuffle {
  position: relative;
  font-size: 20px;
  width: 25%;
  margin: 0 5%;
}

.commonOpsbutton {
  position: relative;
  width: 45%;
  font-size: 20px;
}

.menuclosebutton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 40px;
  width: 80%;
  right: 50%;
  transform: translate(-50%, 0%);
  /* position: relative; */
  /* float: left; */
  /* margin-top: 60px; */
  font-size: 20px;
}

h1 {
  padding-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.links {
  padding-bottom: 0;
  float: center;
  /* background: red; */
  font-size: 18px;
  margin-bottom: 0;
}

h2 {
  padding-bottom: 0;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.prob-dots-base {
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
  padding-right: 1px;
  /* letter-spacing: -2px;
  padding-right: 2px; */
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
}

.newsettingswrap {
  /* background: purple; */
  text-align: right;
  position: relative;
  width: 80%;
  left: 10%;
}

.hex-base {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.port {
  background: url(/images/wood-port.png);
  background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* height:vw; */
  width: 6vw;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.donatebutton {
  position: absolute;
}

.menuToggle {
  visibility: hidden;
}

.settingViewToggle {
  visibility: hidden;
}

.settingswrap {
  /* background: purple; */
  text-align: right;
  position: relative;
  width: 80%;
  left: 10%;
  height: 250px;
}

.mylabel {
  float: left;
}

.menu-row {
  height: 35px;
}

.mySelect {
  height: 32px;

  text-align: center;
}

.checkmark {
  height: 25px;
  position: absolute;
  padding: 100px;
}

input[type="checkbox"] {
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 3px solid currentColor;
}

#popmenu {
  width: 350px;
  height: 350px;
  text-align: center;
  background: #e3c586;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15.5%;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 15px 0 black;
  z-index: 1;
  border-radius: 10px;

  /* animation: popmenu 0.5s; */
}

/* @keyframes popmenu {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
} */

#inline-options {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.description {
  margin-left: 15px;
  margin-right: 15px;
}

@media all and (orientation: landscape) {
  #board {
    width: 100vh;
    height: 100vh;
    right: 0;
    top: 0;
    position: absolute;
    /* background: rgb(145, 122, 81); */
  }

  #title {
    min-height: 35%;
    width: calc(100vw - 100vh);
    /* background: red; */
    left: 0;
    position: relative;
  }

  .small-font-size-wrap {
    font-size: 3vh;
  }

  .border-normal {
    width: 99vh;
    height: calc(99vh * 1.732050808 / 2);
  }
}

@media all and (orientation: portrait) {
  #board {
    width: 100vw;
    height: 100vw;
    left: 50%;
    transform: translate(-50%, 0);

    /* background: rgba(255, 166, 0, 0.582); */
    position: relative;
  }

  #classic-options {
    position: relative;
    width: 100%;
    /* background: yellow; */
  }

  #title {
    min-height: 15%;
    /* background: rgba(123, 106, 139, 0.842); */
    position: relative;
  }

  .font-size-wrap {
    font-size: 4.5vw;
  }

  .small-font-size-wrap {
    font-size: 3vw;
  }

  .border-normal {
    width: 99vw;
    height: calc(99vw * 1.732050808 / 2);
  }
}
